@model Text

<form asp-action="LoadText" asp-controller="Profile" method="post">
    <label>Headline: </label>
    <input type="text" asp-for="Name" /><br />
    <label>Text: </label>
    <input type="text" asp-for="Value" /><br />
    <label>Delete after opening?</label>
    <input type="checkbox" value="true" asp-for="AutoRemoveable" /><br />
    <input type="submit" value="Load text"/>
</form>
