@model Resource

<form asp-action="LoadFile" asp-controller="Profile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="file" name="uploadedFile" />
    </div>
    <div class="form-group">
        <label>Delete after opening?</label>
        <input type="checkbox" name="autoRemovable" value="true"/>
    </div>   
    <div class="form-group">
        <button type="submit" class="btn btn-primary" value="Load file">
            Load file
        </button>
    </div>  
</form>