@model LoginViewModel
@{
	ViewData["Title"] = "Login";
}

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form asp-controller="Account" asp-action="Login">
					<div class="form-group">
						<b>Sign In</b>
					</div>

					<div class="form-group" >
						<label>Email: </label>
						<input type="text" asp-for="Email" placeholder="Email">
					</div>

					<div class="form-group" >
						<label>Password: </label>
						<input type="password" asp-for="Password" placeholder="Password">
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">
							Sign in
						</button>
					</div>

					<div>
						Don’t have an account?

						<a asp-action="Register" asp-controller="Account">
							Sign up now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
